{% extends 'base.html' %}
{% block title %}Find Bus{% endblock %}
{% block content %}
<div class="search-container">
    <h2>Buy Ticket</h2>
    <form method="get" action="{% url 'search_results' %}">
        <div>
            <label for="id_from_location">From:</label>
            {{ form.from_location }}
        </div>
        <div>
            <label for="id_to_location">To:</label>
            {{ form.to_location }}
        </div>
        <div class="form-group">
            <label for="id_date">Date of Journey</label>
            {{ form.date }}
        </div>
        <div class="form-group">
            <label for="return_date">Return Date (Optional)</label>
            <input type="date" id="return_date" name="return_date">
        </div>
        <button type="submit">Search</button>
    </form>
</div>
{% endblock %}
